@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {

    padding: 0;
    margin: 0;

}

:root{

 --SliderColor: #7BE785;
 --ButtonColor: #7BE785;

}

body{
    font-family: 'Outfit', ' sansserif';
    color: #525252
}

.container{

display:flex;
justify-content: center;
align-items: center;
height: 100vh;

}

/*   CSS for Metronome Components  */

.metronome{
display: flex;
flex-direction: column;
width: 300px;
height: 250px;

}

.bpm-display{

    width: 100%;
    text-align: center;
    color: #7BE785;
    
    font-weight: bold;

}

.bpm-display .tempo{
    font-style:normal;
    font-size: 4em;

}

.tempo-settings{
    display: flex;
    justify-content:center;
}

input[type=range]{
-webkit-appearance:none;
background-color: transparent;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance:none;
}
   
input[type=range]::-focus{
    outline: none;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance:none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color:var(--SliderColor) ;
    cursor: pointer;
    margin-top: -7px;
}

input[type=range]::-webkit-slider-runnable-track{
    -webkit-appearance:none;
    width: 100%;
    height: 2px;
    background: #ddd;

}




.tempo-settings .tempo-btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center; 
    justify-items: center;
    font-weight: bold;
    margin-right: 2%;
    margin-left: 2%;
    user-select: none;
    cursor: pointer;
}

.tempo-settings .tempo-btn:hover{
 background:var(--ButtonColor) ;
 color: #fff;
}

.tempo-settings .increase-tempo{
    line-height: 27px;
   }

.tempo-settings .decrease-tempo{
    line-height: 25px;
       }
